[submodule "Keebio-Parts.pretty"]
	path = Keebio-Parts.pretty
	url = https://github.com/keebio/Keebio-Parts.pretty
[submodule "KiCad-RP-Pico"]
	path = KiCad-RP-Pico
	url = https://github.com/ncarandini/KiCad-RP-Pico
